<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Analyze the sentiment of any website content</title>

    </head>

    <body>

        <header>
            <div class="header">
                Analyze the sentiment of any website content using <a href="https://www.meaningcloud.com/" target=_blank>MeaningCloud</a>!
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="formUrl" type="text" name="input" value="" placeholder="Enter URL">
                    <input id="submit" type="submit" name="" value="Submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
                <div class="error_url" id="errorUrl"></div>
            </section>

            <section>
                <div id="results">Results:</div>
                <div class="result" id="confidence"></div>
                <div class="result" id="subjectivity"></div>
                <div class="result" id="irony"></div>
                <div class="result" id="polarity"></div>
            </section>
        </main>

        <footer>
            <a href="https://github.com/agatalts/project4" target="_blank">Open-source code</a> by Agata Latos
        </footer>

    </body>
</html>
