form {
  border: 2px solid #245e53;
  border-radius: 5px;
  padding: 40px 40px 20px 40px;
}

input {
  padding: 10px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
}

#submit {
  width: 15%;
  font-size: 14px;
  padding: 5px;
  background-color: #b3f8ee;
  border-radius: 3px;
}

#submit:hover {
  background-color: #70ebd8;
}
